.header-img{
	padding: 130px;
}

.logo-name{
	position: absolute;
	left: 19%;
	font-family: "Nunito Sans";
	top: 550px;
	font-size: 2em;
}
/*
.productinfo {
	text-align: center;

	position: absolute;
	left: 19%;
	font-family: wNwunito;
	top: 600px;
	font-size: 2em;
}*/
