.header-img{
	padding: 130px;
}

.logo-name{
	position: absolute;
	left: 19%;
	font-family: avenir;
	top: 550px;
	font-size: 2em;
}
/*
.productinfo {
	text-align: center;

	position: absolute;
	left: 19%;
	font-family: avenir;
	top: 600px;
	font-size: 2em;
}*/